.container {
  margin-right: 20%;
  width: 100%;
  z-index: 1;
}

.selectionContainer {
  margin-bottom: 4em;
}

.selectionContainer > p {
  font-size: 1.2em;
  max-width: 350px;
}

.projectDetailsContainer {
  margin-left: 2%;
  width: calc(100% - 40px);
}

.buttonContainer {
  display: flex;
  align-items: center;
  position: relative;
}
