.header {
  position: absolute;
  width: 100%;
  padding: 0px 24px;
  background-color: var(--vscode-input-background);
  border-bottom: 0.5px solid var(--vscode-header-border);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  height: 60px;
}

.headerTitle {
  font-size: 1.7em;
}

.azureProfile {
  display: flex;
  justify-content: space-between;
}

.profileName {
  margin-right: 2em;
}

.button {
  color: var(--vscode-textLink-foreground);
  padding: 1px;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
