.header {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 12px 24px;
    background-color: black;
    border-bottom: 0.5px solid #7f7f7f;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.headerTitle {
    font-weight: bold;
    font-size: 18px;
}

.azureProfile {
    display: flex;
    justify-content: space-between;
}

.profileName {
    margin-right: 2em;
}

.button {
    color: #54B4FF;
}

.button:hover {
    cursor: pointer;
}