.tileContainer {
    margin-bottom: 10px;
}

.selectionContainer {
    margin-bottom: 20px;
}

.selectionTitle {
    font-size: 18px;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 34px;
}

.editButton {
    cursor: pointer;
}