.tileContainer {
    margin-bottom: 10px;
}

.selectionContainer {
    margin-bottom: 20px;
}

.selectionTitle {
    font-size: 18px;
}

.headerContainerRest,
.headerContainer {
    display: flex;
    margin-right: 34px;
}

.headerContainer {
    justify-content: space-between;
}

.headerContainerRest {
    justify-content: flex-end;
}

.editButton {
    cursor: pointer;
}