.tileContainer {
  margin-bottom: 10px;
}

.selectionContainer {
  margin-bottom: 24px;
}

.selectionTitle {
  font-size: 1.8em;
  font-weight: lighter;
  margin-bottom: 8px;
}

.headerContainerRest,
.headerContainer {
  display: flex;
  margin-right: 34px;
}

.headerContainer {
  justify-content: space-between;
}

.headerContainerRest {
  justify-content: flex-end;
}

.editButton {
  cursor: pointer;
}
