.footer {
    position: absolute;
    background-color: #4C4C4C;
    padding: 15px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    min-height: 4em;
    box-sizing: border-box;
}

.button {
    margin-left: 1em;
    font-size: 1em;
}

.buttonContainer {
    display: flex;
    align-items: center;
}