.footer {
  position: absolute;
  background-color: var(--vscode-badge-background);
  border-top: 1px solid var(--vscode-editorGroup-border);
  padding: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  box-sizing: border-box;
}

.button {
  margin-right: 1em;
  font-size: 1.4em;
  text-align: center;
}

.button:hover {
  color: #ffffff;
}

.buttonNext {
  min-width: 80px;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.nextIcon {
  margin-left: 10px;
  height: 16px;
  color: #ffffff;
}

.disabledOverlay {
  opacity: 0.5;
  outline: 0px;
}
