.footer {
  position: absolute;
  background-color: var(--vscode-badge-background);
  padding: 15px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  box-sizing: border-box;
}

.button {
  margin-left: 1em;
  font-size: 1em;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.disabledOverlay {
  opacity: 0.5;
  outline: 0px;
}