.header,
.headerTitleSmall {
  position: absolute;
  width: 100%;
  background-color: var(--vscode-input-background);
  border-bottom: 0.5px solid var(--vscode-header-border);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  height: 70px;
}

.headerTitle {
  display: none;
}

/* TODO: Use preferred defined h1,... */
.headerTitle,
.headerTitleSmall {
  font-size: 1.7em;
  padding-left: 24px;
}

.azureProfile {
  display: flex;
  justify-content: space-between;
}

.profileName {
  margin-right: 2em;
}

@media (min-width: 760px) {
  .headerTitle {
    display: flex;
  }
  .headerTitleSmall {
    display: none;
  }
}
