.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 22px;
}

.edit {
  cursor: pointer;
  margin-bottom: 2px;
  margin-right: 2px;
  padding-right: 1px;
  padding-left: 1px;
  color: var(--vscode-textLink-foreground);
}

.edit:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.input {
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-editor-foreground);
  text-overflow: ellipsis;
}