.headerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.edit {
  cursor: pointer;
  margin-bottom: 2px;
  margin-right: 2px;
  padding-right: 1px;
  padding-left: 1px;
  color: var(--vscode-textLink-foreground);
}

.editIcon path {
  fill: var(--vscode-editor-foreground);
}

.edit:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.input {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editorWidget-border);
  text-overflow: ellipsis;
}
