.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.centerView {
  display: flex;
  padding: 1vh 4vh;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--vscode-editor-background);
  height: calc(100vh - 124px);
  justify-content: flex-start;
  position: relative;
}

.centerViewAzurePage {
  padding: 0;
}

.centerViewMaxHeight {
  height: calc(100vh - 51px);
  margin-bottom: 0px;
}

.optionalFlag:hover {
  color: var(--vscode-extensionButton-prominentForeground);
}

@media (max-width: 830px) {
  .centerView {
    padding: 1vh 2vh;
  }
  .centerViewAzurePage {
    padding: 0;
  }
}
