.container > ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.licenseButton {
  text-decoration: none;
  font-size: var(--vscode-font-size);
  color: var(--vscode-textLink-foreground);
  font-weight: var(--vscode-font-weight);
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.licenseButton:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
