.dropdownTitle {
  font-size: 1.2em;
  margin-bottom: 0.7em;
  font-weight: 500;
}

.sidebarItem {
  margin-left: 15px;
  margin-right: 15px;
}

.pageListContainer {
  display: flex;
  justify-content: space-between;
}

.pagesButtonContainer {
  display: flex;
}

.hideOrShow,
.resetButton {
  cursor: pointer;
  color: var(--vscode-textLink-foreground);
  padding-right: 1px;
  padding-left: 1px;
  border: none;
  font-size: var(--vscode-font-size);
  background-color: var(--vscode-editor-background);
}

.resetButton {
  margin-right: 1em;
}

.hideOrShow:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.viewIcon path {
  fill: var(--vscode-editor-foreground);
}
