.dropdownTitle {
    font-weight: bold;
    margin-bottom: 3px;
}

.sidebarItem {
    margin-left: 15px;
    margin-right: 15px;
}

.pageListContainer {
    display: flex;
    justify-content: space-between;
}

.hideOrShow {
    cursor: pointer;
}