.container {
  display: flex;
  flex-wrap: wrap;
}

.description {
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.description:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.containerPadding {
  padding-top: 35px;
}

.icon {
  height: 36px;
}
