# Code owners below will be automatically assigned as automatic PR reviewers:
* @trevorNgo @Kai-Bailey @amrrsharaff @dandua98 @ngkelly3 @SahilTara @KirillShchetinin @mohannad-abwah @tejbirsingh @markAtMicrosoft @sibille @mvegaca @dgomezc