.plusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.8px solid var(--vscode-editor-foreground);
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.description {
  max-height: 9rem;
}
