.title {
  font-size: 1.8em;
  padding: 24px 24px;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.icon {
  height: 36px;
}
