.buttonHighlighted {
  background-color: var(--vscode-button-hoverBackground);
  color: var(--vscode-editor-foreground) !important;
}

.buttonLight,
.buttonHighlighted,
.buttonDark {
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
}

.buttonDark {
  font-weight: 400;
  /* todo review these styles. contrast */
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
  /* background-color: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground) !important; */
  /* background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background); */
}

.buttonDark:hover {
  /* TODO INTERESTING TO ADD SOME */
  /* background-color: var(--vscode-editor-hoverHighlightBackground);
  color: var(--vscode-editor-foreground) !important; */
}

.buttonCursorDefault {
  cursor: default;
}

.buttonCursorPointer {
  cursor: pointer;
}

.buttonLink {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--vscode-button-foreground);
}
