.buttonHighlighted {
  background-color: var(--vscode-button-hoverBackground);
  color: var(--vscode-editor-foreground) !important;
}

.buttonLight,
.buttonHighlighted,
.buttonDark {
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border: none;
}

.buttonDark {
  font-weight: bolder;
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
}

.buttonDark:hover {
  /* TODO INTERESTING TO ADD SOME */
  /* background-color: var(--vscode-editor-hoverHighlightBackground);
  color: var(--vscode-editor-hoverHighlightForeground) !important; */
}

/* This style should match a style in index.css */
.buttonLink {
  text-decoration: none;
  color: var(--vscode-textLink-foreground);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buttonLink:hover {
  color: var(--vscode-textLink-foreground);
}

.buttonLink:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
