.inputContainer {
  margin-bottom: 30px;
}

.inputTitle {
  line-height: 2em;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 3px;
}

.errorMessage {
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  opacity: 0.5;
  min-height: 38px;
}
