.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 6px;
  font-size: 2.5em;
  color: var(--vscode-editor-foreground);
}

.cancelIcon {
  cursor: pointer;
  height: 15px;
  width: 15px;
  padding: 1px;
  margin-right: 2px;
}

.cancelIcon path {
  fill: var(--vscode-editor-foreground);
}

.cancelIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.cancelIcon path {
  fill: var(--vscode-editor-foreground);
}

.cancelIcon path {
  fill: var(--vscode-editor-foreground);
}

.subtitle {
  margin-bottom: 2em;
}

.link {
  text-decoration: none;
  color: var(--vscode-textLink-foreground);
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
