@media (min-width: 830px) {
  .azureProfile {
    right: 7%;
  }
}

.azureProfile {
  display: flex;
  justify-content: space-between;
  color: var(--vscode-editor-foreground);
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
}

.signOutButton {
  margin-left: 2em;
  font-size: 1em;
}
.signOutButton:hover {
  color: #ffffff;
}

.button {
  align-items: center;
  font-size: 1.2em;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  padding: 10px 33px;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.buttonContainer {
  display: flex;
  align-items: center;
  position: relative;
}
