.centerViewAzure {
  padding: 0;
  width: 100%;
}

.container {
  position: relative;
  padding: 65px 10%;
}

.optionalFlag {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #0067b8;
  color: var(--vscode-extensionButton-prominentForeground);
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.4em;
  padding: 10px 0px;
}

.loginCard {
  width: 100%;
  margin-bottom: 10px;
}

.azureProfile {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.profileName {
  margin-right: 2em;
}

.button {
  color: var(--vscode-textLink-foreground);
  padding: 1px;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
