.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
!src/corets-cli/**
!src/azure/azure-app-service/arm-templates
!src/azure/azure-cosmosDB/arm-templates
!src/azure/azure-functions/arm-templates
!src/azure/azure-functions/templates