# Ignored files
.vscode/**
.vscode-test/**
out/**
node_modules/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
src/configuration.json

# Whitelist needed files
!src/corets-cli/**
!src/azure/azure-app-service/arm-templates
!src/azure/azure-cosmosDB/arm-templates
!src/scripts/**.ps1