.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  padding-left: 5%;
}

.container > div {
  flex: 1 0 100%;
}

.flex > div:first-child {
  flex: 0 1 100%;
}

.header {
  font-size: 2.5em;
  font-weight: 600;
  padding-bottom: 4%;
  font-weight: lighter;
}

.body {
  font-size: 1.4em;
  line-height: 1.9em;
  margin-bottom: 1em;
  padding-bottom: 4%;
  width: 85%;
}

.projectDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 80%;
}

.getStarted {
  align-self: flex-end;
}

.quickStartContainer {
  margin-top: 5em;
}
