.draggablePage {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 1em;
  padding: 0.8em 0;
}

.reorderIcon {
  height: 1em;
  width: 1em;
  cursor: grab;
}

.cancelIcon path,
.icon path,
.reorderIcon path {
  fill: var(--vscode-editor-foreground);
}

.errorStack {
  width: 100%;
  display: block;
  position: relative;
}

.textContainer,
.pagesTextContainer {
  height: 2.5em;
  border: none;
  color: var(--vscode-input-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.9em;
}

.pagesTextContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 0.9em;
}

.largeIndentContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 25%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  margin-right: 0px;
  height: 2em;
  width: 2em;
}

.input {
  padding-left: 0.5em;
  width: 100%;
  outline: none !important;
  box-sizing: border-box;
  background: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground);
  border: none;
}

.marginLeft10{
  margin-left: 0.7rem;
}

.cancelIcon {
  height: 1em;
  width: 1em;
  margin-left: .8px;
  margin-top: .8em;
  padding-bottom: 2px;
  padding-left: 1em;
  padding-right: 1px;
}

.cancelIcon:hover {
  cursor: pointer;
}

.cancelIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.errorTextContainer {
  min-height: 2.5em;
  background: var(--vscode-inputValidation-errorBackground);
  border: 0.5px solid var(--vscode-inputValidation-errorBorder);
  color: var(--vscode-editor-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  position: absolute;
  width: calc(100 - 8px);
  z-index: 1;
}