.draggablePage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 1em;
}

.reorderIcon {
  height: 1em;
  width: 1em;
  cursor: grab;
}

.errorStack {
  width: 100%;
  display: block;
  position: relative;
}

.textContainer,
.pagesTextContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2.5em;
  border: none;
  color: var(--vscode-input-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.9em;
}

.cancelIcon path,
.icon path,
.reorderIcon path {
  fill: var(--vscode-editor-foreground);
}

.pagesTextContainer {
  background: var(--vscode-editorWidget-border);
}

.largeIndentContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 25%;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding-left: 0.5em;
  width: 100%;
  outline: none !important;
  box-sizing: border-box;
  background: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground);
  border: none;
}

.marginLeft10 {
  margin-left: 0.7rem;
}

.errorTextContainer {
  min-height: 2.5em;
  background: var(--vscode-inputValidation-errorBackground);
  border: 0.5px solid var(--vscode-inputValidation-errorBorder);
  color: var(--vscode-editor-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-left: 10px;
  box-sizing: border-box;
  position: absolute;
  width: calc(100 - 8px);
  z-index: 1;
}

.cancelIcon {
  height: 1em;
  width: 1em;
}

.cancelIcon:hover {
  cursor: pointer;
}

.cancelIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
