<div class="row heading">
  <div class="col">
    <h3 class="ml-3 mb-4">{{ sampleOrder.title }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-12 ml-3 mb-5 mt-3">
    <p class="title">Status</p>
    <p>{{ sampleOrder.status }}</p>
    <p class="title">Order Date</p>
    <p>{{ sampleOrder.orderDate }}</p>
    <p class="title">Ship To</p>
    <p>{{ sampleOrder.shipTo }}</p>
    <p class="title">Order Total</p>
    <p>{{ sampleOrder.orderTotal }}</p>
    <p class="title">Description</p>
    <p>{{ sampleOrder.longDescription }}</p>
  </div>
</div>
