.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 51px;
  margin-bottom: 53px;
  padding-top: 10%;
  overflow: auto;
}

.itemBorder {
  border-bottom: 0.5px solid #7f7f7f;
}

.itemBorderTop {
  border-top: 0.5px solid #7f7f7f;
}

.currentPath {
  background-color: #0067b8;
  color: white;
}

.nextPath {
  opacity: 0.4;
}

.leftView {
  width: 350px;
  background-color: var(--vscode-editor-background);
  height: 100vh;
  border-right: 0.5px solid #7f7f7f;
  box-sizing: border-box;
  height: calc(100vh - 104px);
}

.feedback {
  text-align: center;
  color: var(--vscode-textLink-foreground);
  text-decoration: none;
  margin-bottom: 19px;
  margin-top: 19px;
  font-size: 14px;
}

.feedback:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.feedback:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
