.container {
  padding-top: 15%;
}

.itemBorder {
  border-bottom: 0.5px solid #7f7f7f;
}

.itemBorderTop {
  border-top: 0.5px solid #7f7f7f;
}

.currentPath {
  background-color: #0067b8;
  color: white;
}

.nextPath {
  opacity: 0.4;
}

.leftView {
  width: 350px;
  background-color: black;
  height: 100vh;
  border-right: 0.5px solid #555555;
  box-sizing: border-box;
}
