.container {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemBorder {
  border-bottom: 0.5px solid #7f7f7f;
}

.itemBorderTop {
  border-top: 0.5px solid #7f7f7f;
}

.currentPath {
  background-color: #0067b8;
  color: white;
}

.nextPath {
  opacity: 0.4;
}

.leftView {
  width: 350px;
  background-color: black;
  height: 100vh;
  border-right: 0.5px solid #555555;
  box-sizing: border-box;
  height: calc(100vh - 70.625px);
}

.feedback {
  text-align: center;
  color: #54b4ff;
  text-decoration: none;
  margin-bottom: 10px;
}
