.loginCard {
  width: 50%;
  margin-bottom: 3%;
}

.servicesCategory {
  margin-bottom: 5em;
}
.categoryTitle {
  font-size: 1.2em;
  font-weight: 600;
}

.categoryDescriptor {
  font-size: 2em;
}

.servicesContainer {
  display: block;
  width: 100%;
}

.servicesCategoryContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.subscriptionCardContainer {
  flex-basis: 43%;
  flex-grow: 9999;
  margin-right: 12px;
  margin-bottom: 12px;
}

.subscriptionCardContainer {
  margin-bottom: 10px;
  max-width: 300px;
  height: 250px;
  padding: 2.5em;
  background-color: hsla(0, 0%, 47%, 0.2);
}

.subtitle {
  font-size: 1.2em;
  font-weight: normal;
  padding-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
}
