.loginCard {
  width: 50%;
  margin-bottom: 3%;
}

.subscriptionCardContainer {
  flex-basis: 43%;
  flex-grow: 9999;
}

.subscriptionCardContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--vscode-sideBar-background);
  border: 1px solid var(--vscode-editorGroup-border);
}

.overlay {
  opacity: 0.4;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
}
