.loginCard {
  width: 50%;
  margin-bottom: 3%;
}

.servicesCategory {
  margin-bottom: 10%;
}
.categoryTitle {
  font-size: 1.2em;
  font-weight: 600;
}

.categoryDescriptor {
  font-size: 2em;
  padding: 5px 0px 20px 0px;
  font-weight: 600;
}

.servicesContainer {
  display: block;
  width: 100%;
}

.servicesCategoryContainer {
  display: flex;
  flex-wrap: wrap;
}

.subscriptionCardContainer {
  flex-basis: 43%;
  flex-grow: 9999;
  margin-right: 12px;
  margin-bottom: 12px;
}

.subscriptionCardContainer {
  margin-bottom: 10px;
  max-width: 198px;
  padding: 15px;
  background-color: var(--vscode-sideBar-background);
  border: 1px solid var(--vscode-editorGroup-border);
}

.overlay {
  opacity: 0.4;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
}
