.loginCard {
  width: 50%;
  margin-bottom: 3%;
}

.hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}

.subscriptionCardContainer {
  width: 50%;
  margin-right: 0.75em;
}

.overlay {
  opacity: 0.4;
}

.container {
  display: flex;
}
