.loginContainer {
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em;
}

.selectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0067B8;
}

.buttonContainer {
    display: flex;
}

.signInButton {
    margin-left: 10px;
    font-size: 1em;
}

.cardTitle {
    margin-left: 10px;
    font-weight: bold;
}

.cardBody {
    margin-bottom: 5%;
}

.cardTitleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.icon {
    height: 36px;
}