.loginContainer {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--vscode-textLink-foreground);
}

.buttonContainer {
  display: flex;
  cursor: pointer;
}

.signInButton {
  margin-left: 10px;
  font-size: 1em;
  border: none;
}

.cardTitle {
  margin-left: 10px;
  font-weight: bold;
}

.cardBody {
  margin-bottom: 5%;
  font-size: 13px;
}

.cardTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.details {
  color: var(--vscode-textLink-foreground);
}

.icon {
  height: 36px;
}
