.loginContainer {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--vscode-textLink-foreground);
}

.buttonContainer {
  display: flex;
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.signInButton {
  margin-left: 10px;
  font-size: var(--vscode-font-size);
  border: none;
}

.signInButton:focus {
  outline: 1.5px solid var(--vscode-contrastActiveBorder);
}

.cardTitle {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.cardBody {
  margin-bottom: 5%;
  font-size: 13px;
}

.cardTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.details {
  color: var(--vscode-textLink-foreground);
  font-size: 14px;
  text-decoration: none;
}

.details:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.icon {
  height: 36px;
}