.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2.5em;
}

.description {
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.fixedDescription {
  margin-top: 1rem;
  height: 9rem;
}
