.errorMessage {
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  opacity: 0.5;
  min-height: 2.5em;
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.container {
  display: flex;
}

.container:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.errorStack {
  float: left;
  width: 85%;
  display: block;
  position: relative;
}

.container > button {
  margin-left: 0.5em;
}
