.saveIcon {
  height: 25px;
  cursor: pointer;
}

.saveIcon path {
  fill: var(--vscode-editor-foreground);
}

.pathInput {
  outline: none;
  text-decoration: none;
  font-size: 1em;
  background-color: var(--vscode-input-background);
  width: 100%;
  border: none;
  margin-right: 0.25em;
  padding-left: 0px;
}

.input:focus {
  outline: none;
}

.input::placeholder,
.pathInput::placeholder {
  color: var(--vscode-input-placeholderForeground);
  opacity: 0.4;
}

.errorMessage {
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  opacity: 50%;
  min-height: 38px;
}

.errorStack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.outputPath {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 42px;
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  font-size: 1em;
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-editor-foreground);
}