<div class="skipLink">
  <a [href]="skipLinkPath">Skip to Main Content</a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
  <a class="navbar-brand" routerLink="/">
    Flask_Angular
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="Blank">
      Blank
    </a>
    <a class="nav-item nav-link active" routerLink="Grid">
      Grid
    </a>
    <a class="nav-item nav-link active" routerLink="List">
      List
    </a>
    <a class="nav-item nav-link active" routerLink="Master_Detail">
      Master_Detail
    </a>
  </div>
</nav>
