.selected {
    margin: 10px;
    padding: 10px;
    background: #DFDFDF;
    border: 0.5px solid rgba(0,0,0,0.5);
}

.selected:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    background: #A9A9A9;
}