/* shared between CosmosDB and AppService */
.headerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.input {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editorWidget-border);
  text-overflow: ellipsis;
  font-size: 1.1em;
}
