.title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: 15px;
  margin-bottom: 20px;
}

.container {
  padding-top: 16.5px;
  padding-bottom: 71px;
  overflow: auto;
}

.rightViewCropped,
.rightView {
  width: 25%;
  background-color: black;
  border-left: 0.5px solid #555555;
  box-sizing: border-box;
}

.rightViewCropped {
  height: calc(100vh - 122px);
  margin-top: 51px;
  margin-bottom: 71px;
}

.rightView {
  padding-top: 67.5px;
  height: 100vh;
}

.dropdown {
  background-color: red;
}

.dropdownTitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.sidebarItem {
  margin: 15px;
}

.draggablePage {
  display: flex;
}

.pagesTextContainer {
  width: 100%;
  height: 38px;
  background: #dfdfdf;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.icon {
  height: 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
}
