.title {
  font-size: 1.6em;
  text-align: left;
  margin: 15px;
  margin-bottom: 30px;
}

.container {
  padding-bottom: 4vh;
}
.button {
  margin-left: 1em;
  font-size: 1em;
}

.leftButton {
  font-size: 1.1em;
  background-color: #0067b8;
}

.button:hover {
  color: var(--vscode-editor-foreground);
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.link {
  color: var(--vscode-editor-foreground);
  text-decoration: none;
}

.link:hover {
  color: var(--vscode-editor-foreground);
}

.link:focus {
  outline: none;
  border: 0;
}

.rightViewCropped {
  background-color: var(--vscode-editor-background);
  border-left: 0.5px solid #7f7f7f;
  box-sizing: border-box;
  position: relative;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.rightViewCroppedAllPages {
  width: 500px;
}

.rightViewCroppedSummaryPage {
  width: 500px; /*change this width after top nav bar migration to change the width of the right side bar on summary page*/
}

.rightViewCropped {
  padding: 4vh 2vh;
}

.summaryContainer {
  flex: 1;
}

.dropdownTitle {
  margin-bottom: 0.7em;
  font-size: 1.2em;
  font-weight: 500;
}

.sidebarItem {
  margin: 15px;
  margin-bottom: 30px;
}

.sortablePages {
  margin-bottom: 30px;
}

.draggablePage {
  display: flex;
}

.pagesTextContainer {
  width: 100%;
  height: 38px;
  background: #dfdfdf;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.icon {
  height: 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
