.footer {
    position: absolute;
    background-color: #DBDBDB;
    padding: 15px;
    bottom: 0;
    width: 97.36%;
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-left: 10px;
}