.footer {
  position: absolute;
  background-color: var(--vscode-input-background);
  border-top: 1px solid var(--vscode-editorGroup-border);
  padding: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  box-sizing: border-box;
  z-index: 1100;
}

.buttonContainer {
  display: flex;
}
