/* scrollable part of the form */
.body {
  padding-right: 20px;
  max-height: calc(80vh - 200px);
  overflow-y: auto;
  margin-bottom: 1.5em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.advancedModeIcon {
  height: 13px;
  margin-left: 10px;
  margin-bottom: -2px;
}

.rotateAdvancedModeIcon {
  transform: rotate(180deg);
}

.advancedModeIcon path {
  fill: var(--vscode-editor-foreground);
}
