<div class="row heading">
  <div class="col">
    <h3 class="ml-3 mb-4">{{textSampleData.title}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
          <a class="breadCrumbLink" href="/AngularMasterDetail">
            AngularMasterDetail
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{textSampleData.title}}
        </li>
      </ol>
    </nav>
  </div>
  <div class="col-md-8 col-12">
    <p class="ml-3">{{textSampleData.paragraph}}</p>
  </div>
</div>
