.questionTitle {
  font-size: 1em;
  font-weight: 600;
  margin-top: 2em;
  cursor: pointer;
}

.questionTitle:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.question {
  line-height: 1.75em;
  margin-bottom: 2em;
  padding-top: 5px;
}

.toggleIcon {
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  vertical-align: middle;
}

.toggleIcon path {
  fill: var(--vscode-editor-foreground);
}

.toggleIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
