.table {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-bottom: 1.5em;
}

.row {
    display: flex
}

.rowTitle {
    padding: 0.75em 1.5em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #6A6A6A;
}

.row,
.rowTitle,
.rowTitleLight {
    border-bottom: 1px solid #FFFFFF;
}

.rowCellLeft {
    border-right: 1px solid #FFFFFF;
    width: 25%;
}

.rowCellLeft,
.rowCellRight {
    padding: 0.5em 1em;
    justify-content: center;
}