.draggablePage {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
}

.errorStack {
  width: 100%;
  display: block;
  position: relative;
}

.textContainer,
.pagesTextContainer {
  min-height: 38px;
  border: none;
  color: var(--vscode-input-foreground);
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.errorTextContainer {
  min-height: 38px;
  background: var(--vscode-inputValidation-errorBackground);
  border: 0.5px solid var(--vscode-inputValidation-errorBorder);
  color: var(--vscode-editor-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 90%;
  opacity: 50%;
  box-sizing: border-box;
  position: absolute;
  width: calc(100 - 8px);
  z-index: 1;
}

.pagesTextContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 10px;
}

.errorTextContainer {
  margin-left: 10px;
}

.itemContainer {
  width: 100%;
  height: 1em;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.largeIndentContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 25%;
}

.cancelIcon {
  height: 15px;
  width: 15px;
  margin-left: 8px;
  margin-top: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
}

.cancelIcon:hover {
  cursor: pointer;
}

.cancelIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.icon {
  margin-right: 0px;
  height: 25px;
  width: 25px;
}

.reorderIcon {
  height: 18px;
  width: 18px;
  cursor: grab;
}

.cancelIcon path,
.icon path,
.reorderIcon path {
  fill: var(--vscode-editor-foreground);
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.azureFunctionNameInput,
.input {
  padding-left: 0.5em;
  width: 100%;
  outline: none;
  font-size: 1em;
  box-sizing: border-box;
  background: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground);
  border: none;
}

.disabledInput {
  padding-left: 0px;
}

.azureFunctionNameInput {
  padding-left: 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 20px;
  padding-top: 8px;
}
