.draggablePage {
    display: flex;
    margin-bottom: 10px;
}

.pagesTextContainer {
    width: 100%;
    height: 38px;
    background: #DFDFDF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.itemContainer {
    width: 100%;
    height: 1em;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancelIcon {
    height: 15px;
}

.icon {
    height: 20px;
}

.iconContainer{
    display: flex;
    align-items: center;
    width: 20px;
}