.icon {
  height: 48px;
  width: 48px;
  margin-right: 48px;
  padding-right: 20px;
}

.backIcon path {
  fill: var(--vscode-editor-foreground);
}

.backIcon {
  height: 24px;
  margin-right: 1em;
  cursor: pointer;
}

.container {
  margin: 2em;
  padding: 2em;
  max-width: 40em;
}

.backContainer {
  display: flex;
  margin-bottom: 4em;
}

.innerBackContainer {
  padding-left: 1px;
  padding-right: 2px;
  display: flex;
}

.innerBackContainer:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.detailsContainer {
  display: flex;
}

.licenseCategory {
  align-self: flex-start;
}

.licenseCategory,
.category {
  margin-left: 0px;
}

.detailsTitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.licenses {
  margin-top: 0px !important;
}

.detailsDescription {
  margin-bottom: 1em;
}

.categoriesContainer {
  margin-right: 15%;
}

.metaData {
  display: flex;
  align-items: center;
}

.details {
  padding-top: 2px;
  color: var(--vscode-textLink-foreground);
  cursor: pointer;
}

.details:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.link {
  color: var(--vscode-textLink-foreground);
  font-weight: var(--vscode-editor-font-weight);
  text-decoration: none;
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
