.icon {
  height: 48px;
  margin-right: 24px;
}

.backIcon {
  height: 24px;
  margin-right: 1em;
  cursor: pointer;
}

.container {
  margin: 2em;
  padding: 2em;
  max-width: 40em;
}

.backContainer {
  display: flex;
  margin-bottom: 4em;
}

.detailsContainer {
  display: flex;
}

.licenseCategory {
  align-self: flex-start;
}

.licenseCategory,
.category {
  margin-left: 0px;
}

.detailsTitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.licenses {
  margin-top: 0px !important;
}

.detailsDescription {
  margin-bottom: 1em;
}

.categoriesContainer {
  margin-right: 15%;
}

.metaData {
  display: flex;
  align-items: center;
}

.details {
  color: #54b4ff;
  cursor: pointer;
}

.link {
  color: #54b4ff;
  text-decoration: none;
}
