.icon {
  height: 48px;
  margin-right: 24px;
}

.backIcon {
  height: 24px;
  margin-right: 1em;
}

.container {
  margin: 2em;
  padding: 2em;
  max-width: 40em;
}

.backContainer {
  display: flex;
  margin-bottom: 4em;
}

.detailsContainer {
  display: flex;
}

.col {
  display: flex;
  align-items: center;
}

.detailsTitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.detailsDescription {
  margin-bottom: 1em;
}

.categoriesContainer {
  margin-right: 15%;
}

.details {
  color: #54b4ff;
}
