.overlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
}

.contentModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 0.5px solid var(--vscode-editor-foreground);
  background: var(--vscode-menu-background);
  overflow: auto;
  border-radius: 3px;
  outline: none;
  padding: 4vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  min-width: 300px;
}

.width40percent{
  width: 40%;
}
.width50percent{
  width: 50%;
}