.draggablePage {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 1em;
  padding-top: 8px;
}

.errorStack {
  width: 100%;
  display: block;
  position: relative;
}

.pagesTextContainer {
  background: var(--vscode-editorWidget-border);
  margin-left: 10px;
}

.textContainer,
.pagesTextContainer {
  max-height: 2.5em;
  border: none;
  color: var(--vscode-input-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.9em;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.disabledInput {
  padding-left: 0px;
}

.input {
  padding-left: 0.5em;
  width: 100%;
  outline: none !important;
  box-sizing: border-box;
  background: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground);
  border: none;
}

.input:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
  outline-offset: 7px;
}

.pagesTextContainerNoEdit {
  padding: 0.5em 0.9em;
}

.editIcon,
.cancelIcon path {
  fill: var(--vscode-editor-foreground);
}

.editIcon,
.cancelIcon {
  height: 1em;
  width: 1em;
  margin-left: 8px;
  margin-top: 0.6rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
}

.editIcon:hover,
.cancelIcon:hover {
  cursor: pointer;
}

.editIcon:focus,
.cancelIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
