.container {
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 12px;
  background-color: var(--vscode-notificationCenterHeader-background);
  border: 0.5px solid var(--vscode-editor-foreground);
}

.selected,
.button {
  font-size: 15px;
}

.selected {
  padding: 12.5px;
  border: none;
  outline: 3px solid var(--vscode-editor-foreground);
}

.cardCount,
.selectedCheckMark {
  display: flex;
  justify-content: center;
}

.iconCheckMark {
  padding-left: 5px;
  height: 18px;
  width: 18px;
  align-self: center;
}

.iconCheckMark path {
  fill: var(--vscode-editor-foreground);
}

.hidden {
  display: none;
}

.boundingBox {
  max-width: 198px;
  min-height: 239px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  color: #54b4ff;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 22px;
}

.icon {
  height: 36px;
}

.iconHeight {
  height: 36px;
}

.cardHeader {
  display: flex;
  align-items: center;
  max-height: 51px;
}

.titleLeftJustified,
.title {
  margin: 15px 10px;
}

.titleLeftJustified {
  margin-left: 0px;
}

.body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.link {
  color: #54b4ff;
  font-size: 15px;
  text-decoration: none;
}

.unselectable {
  opacity: 0.4;
  cursor: default;
}

.cardCount {
  text-align: center;
  background-color: var(--vscode-menu-separatorBackground);
  height: 22px;
  width: 22px;
  padding: 3px;
  border-radius: 50%;
}