.container {
  border: 0.5px solid #ffffff;
  padding: 16px;
  margin-right: 15px;
  border-radius: 4px;
}

.selected,
.button {
  font-size: 15px;
}

.selected {
  /* Account for lost padding on select with border */
  padding: 13.5px;
  border: 3px solid #ffffff;
}

.selectedCheckMark {
  display: flex;
  justify-content: center;
}

.iconCheckMark {
  padding-left: 5px;
  height: 18px;
  width: 18px;
  align-self: center;
}

.hidden {
  display: none;
}

.boundingBox {
  max-width: 198px;
  min-height: 239px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  color: #54b4ff;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 36px;
}

.iconHeight {
  height: 36px;
}

.cardHeader {
  display: flex;
  align-items: center;
  max-height: 51px;
}

.titleLeftJustified,
.title {
  margin: 15px 10px;
}

.titleLeftJustified {
  margin-left: 0px;
}

.body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.link {
  color: #54b4ff;
  font-size: 15px;
  text-decoration: none;
}
