body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.logo{
    float:left;
}

.content{
    float:left;
    padding: 30px;
}