.container {
  width: 300px;
  height: 300px;
  padding: 2.5em;
  background-color: hsla(0, 0%, 47%, 0.2);
  margin-bottom: 10px;
}

.boundingBox {
  width: 260px;
}

.plusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.8px solid var(--vscode-editor-foreground);
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.icon {
  height: 1em;
  width: 1em;
  fill: var(--vscode-editor-foreground);
}

.serviceFeaturesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

}

.serviceFeatureInfo {
  display: flex;
}

.svg {
  margin-right: 1em;
  fill: var(--vscode-editor-foreground);
}
