.iconHeight {
  height: 36px;
}

.headerIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.8px solid var(--vscode-editor-foreground);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* below similar but not exactly same styles */
.gridLayoutCardHeader {
  display: grid;
  grid-template-columns: 3rem auto 2.7rem;
  max-height: 51px;
  width: 17.5rem;
}

.gridLayoutCardHeader .title {
  margin-left: 1rem;
  margin-top: 0.2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  height: 9rem;
}

.gridLayoutCardFooter {
  display: grid;
  grid-template-columns: auto 1rem;
  min-height: 30px;
}

.pageCounter {
  font-size: 1.2rem;
}
