.textSelected,
.text {
  font-size: 1em;
}

.text {
  font-weight: bold;
  padding: 18px 0px;
  color: var(--vscode-editor-foreground);
}

.selected path {
  fill: #ffffff !important;
}

.container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.icon {
  height: 1em;
  width: 1em;
  padding-left: 1em;
}

.textSelected {
  color: #ffffff;
}

.icon path {
  fill: var(--vscode-editor-background);
}

.visitedIcon path {
  fill: var(--vscode-editor-foreground);
}

.spacer {
  padding-left: 2em;
}

.spacer,
.icon {
  padding-right: 0.5em;
}
