.textSelected,
.text {
  font-size: 1em;
}

.text {
  font-weight: bold;
  padding: 18px 0px;
  color: var(--vscode-editor-foreground);
}

.selected path {
  fill: #cccccc !important;
}

.container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon {
  height: 1em;
  width: 1em;
  padding-left: 1em;
}

.textSelected {
  color: #cccccc;
}

.icon path {
  fill: var(--vscode-editor-background);
}

.visitedIcon path {
  fill: var(--vscode-editor-foreground);
}

.spacer {
  padding-left: 2em;
}

.spacer,
.icon {
  padding-right: 0.5em;
}