.textSelected,
.text {
    font-size: 1em;  
}

.text {
    font-weight: bold;
    padding: 18px 0px;
    color: var(--vscode-editor-foreground);
}

.textSelected {
    color: white;
    background-color: #0067B8;
}

.container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    height: 1em;
    padding-left: 1em;
}

.spacer {
    padding-left: 2em;
}

.spacer,
.icon {
    padding-right: 0.5em;
}