.warningDiv {
  border: 1px solid #fbd118;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 3px;
  margin-top: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.warningDiv img {
  width: 6%;
  height: auto;
}

.body {
  margin-left: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* or 222% */
  color: #fbd118;
}
