.container {
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 12px;
  background-color: hsla(0, 0%, 47%, 0.2);
}

.container:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
  border: 0.5px solid var(--vscode-contrastActiveBorder);
}

.container:focus:not([data-focus-visible-added]) {
  outline: none;
  border: none;
}

.selected,
.button {
  font-size: 16px;
}

.selected {
  border: none;
  outline: 3px solid var(--vscode-editor-foreground);
}

.selected:focus {
  border: none;
  outline: 3px solid var(--vscode-contrastActiveBorder);
}

.selected:focus:not([data-focus-visible-added]) {
  border: none;
  outline: 3px solid var(--vscode-editor-foreground);
}

.iconCheckMark {
  margin-left: 8px;
  height: 18px;
  width: 18px;
  align-self: center;
}

.iconCheckMark path {
  fill: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.hidden {
  display: none;
}

.boundingBox {
  width: 230px;
  height: 200px;
  margin: 0px 30px 30px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  color: var(--vscode-textLink-foreground);
}

.gridLayoutCardFooter {
  display: grid;
  grid-template-columns: auto 1rem;
  min-height: 30px;
}

.pageCounter {
  font-size: 1.2rem;
}

.showCount {
  min-width: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 3px;
  font-weight: 500;
}

.subtractSVG {
  margin-top: 3px;
}

.iconHeight {
  height: 36px;
}

.gridLayoutCardHeader {
  display: grid;
  grid-template-columns: 3rem auto 2.7rem;
  max-height: 51px;
  width: 17.5rem;
}

.gridLayoutCardHeader .title {
  margin-left: 1rem;
  margin-top: 0.2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.gridLayoutCardHeader .titleLeftJustified {
  margin-left: 10px;
}

.body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  color: var(--vscode-textLink-foreground);
  font-size: 15px;
  text-decoration: none;
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.unselectable {
  opacity: 0.4;
  cursor: default;
}

.headerIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.8px solid var(--vscode-editor-foreground);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.selectedText {
  font-size: 14px;
}

button:disabled {
  opacity: 0.5;
  outline: 0px;
  cursor: default;
}

.version{
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.description{
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  height: 9rem;
}

.DependencyInfo{
  margin-top: 1rem;
  height: 4.5rem;
}