.container {
  margin-bottom: 2em;
}

.containerDisabled {
  opacity: 0.5;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  padding: 0.5em;
  box-sizing: border-box;
  background: var(--vscode-editorWidget-border);
  border: none;
}

.inputContainer input:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
  outline-offset: 0.5em;
}

.input {
  text-decoration: none;
  border: none;
  background: var(--vscode-editorWidget-border);
  color: var(--vscode-editor-foreground);
  width: 100%;
  margin-right: 10px;
}

input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.validationIcon {
  height: 1em;
  margin-right: 0.2em;
}

.validationIcon path {
  fill: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.spinner {
  animation: rotate steps(60) 1s infinite;
  height: 18px;
  width: 18px;
  height: 1em;
  margin-right: 2px;
}

.spinner path {
  stroke: var(--vscode-editor-foreground);
}

.errorMessage {
  height: 2.5em;
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 90%;
  opacity: 0.5;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
