.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25%;
    padding-left: 20%;
    padding-right: 20%;
}

.container>div {
    flex: 1 0 100%;
}

.flex>div:first-child {
    flex: 0 1 100%;
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.body {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin: 10px;
    margin-bottom: 2em;
    line-height: 1.75em;
}