.body {
  font-size: 15px;
  line-height: 1.75em;
  margin-bottom: 1.5em;
}

.formattedBody,

.cardBody {
  margin-bottom: 0.5em;
}

.svg {
  margin-right: 18px;
  margin-top: 4px;
  fill: var(--vscode-editor-foreground);
}

.expectedPrice {
  margin-top: 5px;
  display: flex;
  margin-bottom: 8px;
}

.expectedTime {
  display: flex;
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .formattedBody {
    display: none;
  }
}