<form [formGroup]="listForm" (ngSubmit)="onSubmit()" class="input-group my-3">
  <div class="col-11">
    <input
      id="content"
      class="form-control"
      placeholder="Add text here..."
      aria-label="Add text here..."
      title="Add text here..."
      formControlName="content"
      required
    />
    <ngb-alert type="danger" *ngIf="content.invalid && content.dirty">
      <div *ngIf="content.errors.required">
        Input must be at least 1 character long.
      </div>
    </ngb-alert>
  </div>
  <span class="input-group-btn col-1">
    <button type="submit" class="btn btn-primary" [disabled]="listForm.invalid">
      Submit
    </button>
  </span>
</form>
