.title {
  font-weight: bold;
  margin-bottom: 3px;
}

.container {
  margin: 15px;
}

.link {
  text-decoration: none;
  color: var(--vscode-textLink-foreground);
}

.name {
  margin-bottom: 1.5em;
}