.container {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1.5em;
}

.inLine {
  display: flex;
}

.spinner {
  animation: rotate steps(60) 1s infinite;
  height: 18px;
  width: 18px;
  margin-top: 3px;
}

.spinner path {
  stroke: var(--vscode-editor-foreground);
}

.iconCheck {
  margin-top: 3px;
  margin-left: 1em;
  height: 1em;
}

.iconCheck path {
  fill: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.iconError {
  margin-top: 3px;
  margin-left: 1em;
  height: 1em;
  width: 1em;
}

.iconError path {
  fill: var(--vscode-errorForeground);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
