.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.modalTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.selectionContainer {
  margin-bottom: 2em;
}

.selectionContainerDisabled {
  opacity: 0.5;
}

.selectionHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.selectionInputContainer {
  margin-bottom: 26px;
}

.buttonContainer {
  display: flex;
  float: right;
}

.button {
  font-size: 1em;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.button:disabled {
  opacity: 0.5;
  outline: none;
  background-color: var(--vscode-badge-background);
  cursor: default;
}

.icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
  padding: 1px;
  margin-right: 2px;
}

.icon path {
  fill: var(--vscode-editor-foreground);
}

.icon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.icon path {
  fill: var(--vscode-editor-foreground);
}

.icon path {
  fill: var(--vscode-editor-foreground);
}

.validationIcon {
  height: 15px;
  margin-right: 0.2em;
}

.validationIcon path {
  fill: var(--vscode-editorMarkerNavigationWarning-background);
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  padding: 9px;
  box-sizing: border-box;
  background-color: var(--vscode-input-background);
  border: 0.5px solid var(--vscode-editor-foreground);
}

.input {
  text-decoration: none;
  border: none;
  background-color: var(--vscode-input-background);
  color: var(--vscode-editor-foreground);
  font-size: 1em;
  width: 100%;
  margin-right: 10px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.createNew,
.link {
  text-decoration: none;
  color: var(--vscode-textLink-foreground);
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.createNew:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.errorMessage {
  height: 38px;
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 90%;
  opacity: 50%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.spinner {
  height: 1em;
  margin-right: 2px;
}

.spinner path {
  stroke: var(--vscode-editor-foreground);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate steps(60) 1s infinite;
  height: 18px;
  width: 18px;
}

.errorStack {
  display: block;
  position: relative;
}
