.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.modalTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.selectionContainer {
  margin-bottom: 2em;
}

.selectionContainerDisabled {
  opacity: 0.5;
}

.selectionHeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.selectionInputContainer {
  margin-bottom: 14px;
}

.buttonContainer {
  display: flex;
  float: right;
}

.button {
  font-size: 1em;
  border: none;
}

.icon {
  cursor: pointer;
  height: 12px;
}

.validationIcon {
  height: 15px;
  margin-right: 0.2em;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  padding: 9px;
  box-sizing: border-box;
  background-color: #696969;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.input {
  color: #ffffff;
  border: none;
  background-color: #696969;
  font-size: 1em;
  width: 100%;
  margin-right: 10px;
}

.borderRed {
  border: 1px solid #ff6666;
  padding: 8.5px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
  opacity: 0.4;
}

.createNew,
.link {
  text-decoration: none;
  color: #54b4ff;
}

.errorMessage {
  height: 38px;
  background: #5f0d0d;
  border: 1px solid #9d2f23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 2px;
  font-size: 90%;
  opacity: 50%;
}
