.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 51px;
  margin-bottom: 53px;
  padding-top: 10%;
  overflow: auto;
}

.itemBorder {
  float: left;
  padding: 0px 5px;
}

.nextPath {
  opacity: 0.4;
}

.feedback {
  text-align: center;
  color: var(--vscode-textLink-foreground);
  text-decoration: none;
  margin-bottom: 19px;
  margin-top: 19px;
  font-size: 14px;
}

.feedback:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
.topNavBar {
  display: inline-block;
}

@media (min-width: 650px) {
  .itemBorder {
    padding: 0px 10px;
  }
}
