.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disableHover,
.summaryTileContainer {
  display: flex;
  align-items: center;
  background-color: var(--vscode-notificationCenterHeader-background);
  padding: 11px;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

.summaryTileContainer:hover {
  outline: 2px solid var(--vscode-editor-foreground);
}

.leftContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.leftIcon {
  height: 36px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.closeIcon,
.rightIcon {
  max-height: 18px;
  padding: 3px;
}

.closeIcon:hover {
  cursor: pointer;
}

.rightIcon:hover {
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
}

.spacer {
  width: 24px;
}

.tileInput {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--vscode-notificationCenterHeader-background);
  border: none;
  max-width: 300px;
  color: var(--vscode-editor-foreground);
}

.tileInput:focus {
  outline: 1px solid var(--vscode-editor-foreground)
}

.metaData {
  display: flex;
}

.tileContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
}

.indent {
  margin-left: 4em;
}

.reorder {
  height: 18px;
  margin-right: 10px;
  cursor: grab;
}

.rotate {
  transform: rotate(270deg);
}

.errorMessage {
  background: #5f0d0d;
  border: 1px solid #9d2f23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 2px;
  opacity: 50%;
  min-height: 38px;
  font-size: 15px;
}
