.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.disableHover,
.summaryTileContainer {
  display: flex;
  align-items: center;
  background-color: var(--vscode-sideBar-background);
  border: 1px solid var(--vscode-editorGroup-border);
  padding: 11px;
  justify-content: space-between;
  width: 100%;
  margin-right: 11px;
  box-sizing: border-box;
}

.summaryTileContainer:hover {
  outline: 2px solid var(--vscode-editor-foreground);
}

.summaryTileContainer:focus {
  outline: 2px solid var(--vscode-contrastActiveBorder);
}

.leftContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.leftIcon {
  height: 36px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.closeIcon,
.rightIcon {
  height: 18px;
  width: 18px;
}

.rightIcon {
  margin-left: 10px;
}

.leftIcon path,
.reorder path,
.closeIcon path,
.rightIcon path {
  fill: var(--vscode-editor-foreground);
}

.closeIcon:hover {
  cursor: pointer;
}

.closeIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.rightIcon:hover {
  cursor: pointer;
}

.rightIcon:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.spacer {
  width: 24px;
}

.editSpacer {
  width: 30px;
  padding: 3px;
}

.tileInput {
  font-size: 1.8em;
  font-weight: lighter;
  background-color: var(--vscode-sideBar-background);
  border: none;
  max-width: 100%;
  color: var(--vscode-editor-foreground);
  text-overflow: ellipsis;
  width: 100%;
}

.subTitle {
  background-color: var(--vscode-sideBar-background);
  border: none;
  max-width: 100%;
  color: var(--vscode-editor-foreground);
  font-size: 1.2em;
  text-overflow: ellipsis;
  width: 100%;
}

.tileInput:focus {
  outline: 1px solid var(--vscode-editor-foreground);
}

.metaData {
  display: flex;
}

.tileContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
}

.indent {
  margin-left: 4em;
}

.reorder {
  height: 18px;
  margin-right: 10px;
  cursor: grab;
}

.rotate {
  transform: rotate(270deg);
}

.errorMessage {
  background: var(--vscode-inputValidation-errorBackground);
  border: 0.5px solid var(--vscode-inputValidation-errorBorder);
  color: var(--vscode-editor-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  opacity: 50%;
  min-height: 38px;
  font-size: 15px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  max-width: 100%;
}

.errorStack {
  display: block;
  position: relative;
}
