.container {
  margin-right: 40%;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.inputTitle {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3px;
}

.outputPathContainer,
.input {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  font-size: 1em;
  background-color: #696969;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.outputPathContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 42px;
}

.saveIcon {
  height: 25px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.pathInput {
  outline: none;
  text-decoration: none;
  font-size: 1em;
  background-color: #696969;
  width: 100%;
  border: none;
  margin-right: 0.25em;
}

.input:focus {
  outline: none;
}

.input::placeholder,
.pathInput::placeholder {
  color: white;
  opacity: 0.4;
}

.inputContainer {
  width: 45%;
  text-decoration: none;
  outline: none;
  margin-bottom: 10px;
}

.tileContainer {
  margin-bottom: 10px;
}

.selectionContainer {
  margin-bottom: 20px;
}