.container {
  margin-right: 20%;
  width: 100%;
}

.selectionContainer {
  margin-bottom: 24px;
}

.reviewContextContainer {
  float: left;
  padding: 70px 100px;
}

.button {
  margin-left: 1em;
  font-size: 1em;
}

.leftButton {
  font-size: 1em;
}

.button:hover {
  color: var(--vscode-editor-foreground);
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.link {
  color: var(--vscode-editor-foreground);
  text-decoration: none;
}

.link:hover {
  color: var(--vscode-editor-foreground);
}
