.azureTitle {
  font-family: Segoe UI;
  font-size: 21px;
  font-weight: lighter;
  line-height: 19px;
  color: var(--vscode-editor-foreground);
}
.title {
  font-size: 21px;
  font-family: "Segoe UI";
  font-weight: lighter;
  line-height: 25px;
  color: var(--vscode-editor-foreground);
}

.section {
  margin-top: 40px;
}

.sectionLine {
  margin-top: 20px;
}

.sectionLineButton {
  margin-top: 20px;
  margin-left: -5px;
}

.readMeText {
  color: var(--vscode-editorMarkerNavigationWarning-background);
}

.footerContainer {
  margin-top: 40px;
  float: right;
  align-items: center;
}

.button {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 33px;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.spinner {
  margin-right: 5px;
}

.spinner path {
  stroke: #ffffff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate steps(60) 1s infinite;
  height: 20px;
  width: 20px;
}

.templateStatus {
  display: flex;
  justify-content: flex-start;
}

.buttonToLink {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: var(--vscode-menu-background);
  color: var(--vscode-textLink-foreground);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.loading {
  font-size: 1em;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.link {
  color: var(--vscode-textLink-foreground);
  font-weight: var(--vscode-font-weight);
  text-decoration: none;
  font-size: 14px;
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
