.azureTitle {
  font-family: Segoe UI;
  font-size: 21px;
  font-weight: lighter;
  line-height: 19px;
  color: var(--vscode-editor-foreground);
}
.title {
  font-size: 21px;
  font-family: "Segoe UI";
  font-weight: lighter;
  line-height: 25px;
  color: var(--vscode-editor-foreground);
}

.section {
  margin-top: 40px;
}

.sectionLine {
  margin-top: 20px;
}

.sectionLineButton {
  margin-top: 20px;
  margin-left: -5px;
}

.readMeText {
  color: var(--vscode-editorMarkerNavigationWarning-background);
}

.footerContainer {
  margin-top: 40px;
  float: right;
  align-items: center;
  display: flex;
}

.button {
  align-items: center;
  font-size: 1.2em;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  padding: 10px 33px;
}

.button:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.iconCheck {
  margin-top: 3px;
  margin-left: 1em;
  height: 14px;
}

.iconError {
  margin-top: 3px;
  margin-left: 1em;
  height: 14px;
  width: 14px;
}

.iconError path{
fill: var(--vscode-errorForeground);
}

.iconCheck path {
  fill: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.spinner {
  animation: rotate steps(60) 1s infinite;
  height: 14px;
  width: 14px;
  margin-top: 3px;
}

.spinner path {
  stroke: #ffffff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* styles for generation status checkmark section*/
.checkmarkSection{
  background-color: var(--vscode-editorWidget-border);
}

.containerWithMargin{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.checkmarkStatusRow{
  display: flex;
  justify-content: space-between;
}

.checkmarkStatusRow > div{
  padding: 0.6em 1.5em;
}

.inLine{
  display: flex;
}

.loading {
  font-size: 1em;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.link {
  color: var(--vscode-textLink-foreground);
  font-weight: var(--vscode-font-weight);
  text-decoration: none;
  font-size: 14px;
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
