.title {
  font-size: 1.6em;
  text-align: left;
  margin: 15px;
  margin-bottom: 20px;
}

.statics {
  margin-bottom: 30px;
}

.projectStatic {
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
}

.value {
  font-weight: normal;
  margin-left: 7px;
}