<main id="mainContent">
  <div class="text-center header">
    <h1>Param_ProjectName</h1>
    <p>This is placeholder text. Your web app description goes here.</p>
    <a
      href="https://github.com/Microsoft/WebTemplateStudio"
      class="btn btn-primary my-2"
    >
      Link to our Github
    </a>
  </div>

  <div class="container">
    <div class="row justify-content-center py-5">
      <h1>Bootstrap AngularGrid Template</h1>
    </div>
    <div class="row justify-content-around text-center pb-5">
      <app-grid-box
        class="col-4 p-5"
        *ngFor="let textAssets of gridTextAssets"
        [key]="textAssets.id"
        [header]="textAssets.title"
        [description]="textAssets.shortDescription"
        [image]="GreyBox"
      >
      </app-grid-box>
    </div>
  </div>
  <app-warning-message
    *ngIf="WarningMessageOpen"
    [text]="WarningMessageText"
    (WarningMessageOpen)="handleWarningClose($event)"
  >
  </app-warning-message>
</main>
