.loginContainer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  background-color: #303030;
  margin-right: 15px;
}

.selectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0067b8;
}

.createAccountButton {
  color: #54b4ff;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.signInButton {
  font-size: 1em;
  margin-left: 10px;
  border: none;
}

.cardTitle {
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.cardBody {
  margin-bottom: 1em;
}

.details {
  color: #54b4ff;
}

.icon {
  height: 36px;
  margin-right: 0.5em;
}