.icon path {
  fill: var(--vscode-editor-foreground);
}

.icon rect {
  fill: var(--vscode-editor-foreground);
}

.icon polygon {
  fill: var(--vscode-editor-foreground);
}

.icon {
  margin-right: 10px;
}

.original {
  margin-right: 10px;
}
