.title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 6px;
  font-size: 24px;
  color: #ffffff;
}

.container {
  margin: 15px;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  font-size: var(--vscode-font-size);
  color: var(--vscode-textLink-foreground);
  font-weight: var(--vscode-font-weight);
}

.link:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}
