.generationItems {
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: var(--vscode-editorWidget-border);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer > button {
  margin-left: 1em;
}
