.dependencyContainer {
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.dependencyContainer:focus {
  outline: 1px solid var(--vscode-contrastActiveBorder);
}

.disabled {
  pointer-events: none;
  text-decoration: none;
}

.body {
  margin-left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.iconCheck {
  height: 12px;
}

.iconWarning {
  height: 16px;
}

.iconCheck path {
  fill: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.iconWarning path {
  fill: var(--vscode-editorMarkerNavigationWarning-background);
}

.borderGreen {
  border: 1px solid var(--vscode-gitDecoration-untrackedResourceForeground);
}

.borderYellow {
  border: 1px solid var(--vscode-editorMarkerNavigationWarning-background);
}

.bodyGreen {
  color: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.bodyYellow {
  color: var(--vscode-editorMarkerNavigationWarning-background);
}
